*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f5f6f8;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* container */
.login-container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

/* card */
.login-card{
background:white;
padding:40px;
width:100%;
max-width:380px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
}

.logo{
width:60px;
margin-bottom:15px;
}

.subtitle{
color:#777;
margin-bottom:20px;
}

/* form */
form{
display:flex;
flex-direction:column;
text-align:left;
}

label{
margin-top:10px;
font-size:14px;
}

input{
padding:10px;
margin-top:5px;
border:1px solid #ddd;
border-radius:5px;
outline:none;
}

input:focus{
border-color:#6a11cb;
}

small{
color:#6c63ff;
font-size:12px;
margin-bottom:5px;
}

/* button */

button{
margin-top:15px;
padding:12px;
border:none;
border-radius:6px;
background:linear-gradient(90deg,#6a11cb,#2575fc);
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
opacity:0.9;
}

/* divider */

.divider{
margin:20px 0;
color:#888;
}

/* demo box */

.demo{
background:#f1f2f4;
padding:12px;
border-radius:6px;
font-size:14px;
}

/* Responsive */

@media (max-width:480px){

.login-card{
padding:25px;
}

h2{
font-size:20px;
}

}